@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

$primaryColor: #e4c517;

$fontFamily: 'Quicksand, sans-serif';

$regularWeight: 300;

$heavyWeight: 700;

$gutter: 10%;