
/* All Pages Styles */

/* sans serif font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
/* serif body copy */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/*heading font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
/* italics heading font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap');

/* Colors
Dark beige: #A88C80
Tan: #E8D8C1;
Red: 7E1E1E;
*/

body {
    background-color: rgb(126, 30, 30); 
    padding: 0px;
    margin: 0px; 
    font-family: 'Karla', sans-serif; 
}

p {
    font-family: 'EB Garamond', serif;
}

h1, h2, h4, h5 {
    font-family: 'IM Fell DW Pica', serif;
    /* font-style: italic; */
}

h3 {
    font-size: 2.3em; 
}

footer {
    color: white; 
    background-image: url(https://audree-jacobs.github.io/WDD230/lesson13/images/scarf.png);
    background-size: cover; 
}

/* navigations */
.mobile_nav {
    display: none; 
}
.desktop_nav {
    padding-top: 10px;
    padding-bottom: 10px;  
}
.desktop_nav .nav_link {
    display: inline; 
    padding-left: 35px; 
    font-size: 1.2em; 
}
.desktop_nav a {
    color: white; 
    text-decoration: none; 
}
.desktop_nav a:hover {
    color: rgb(223, 171, 171); 
}


/* HomePage Styles */

.hero_image {
    max-width: 100%; 
    position: relative; 
    
}

h1 {
    color: white; 
    position: absolute;
    top: 30%; 
    padding-left: 75px; 
    font-size: 5vw;
    opacity: 0.5;
}

/* mood ring section */

.beige_div {
    background-color: #A88C80;
    padding: 50px 0px 50px 0px;
    margin-top: -5px; 
}

.mood_ring_div {
    background-color: #E8D8C1;
    display: grid;
    grid-template-columns: 17% 1fr 1fr 20%;
    width: 100%;
    margin: auto; 
    place-items: center; 
    padding: 15px 0px 28px 0px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ring_images {
    width: 80%; 
    grid-column: 2/3;  
}

.glow_ring {
    display: none;
    width: 85%;  
    padding-bottom: 4px; 
}

.regular_ring {
    width: 85%;  
}

.ring_images:hover .glow_ring{
    display: block;
}

.ring_images:hover .regular_ring {
    display: none; 
}

.mood_ring_text {
    grid-column: 3/4; 
}

.mood_ring_text p {
    margin-top: -10px !important;  
    font-size: 1.3em; 
}

/* Red Painting Section */

.paintings_section {

    padding: 30px; 
}

.paintings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%; 
    width: 80%; 
    margin: auto;
    padding: 30px 0px 30px 0px; 
}

.paintings img {
    width: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.521), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
}

.paintings img:hover {
    box-shadow: 0 4px 8px 0 rgba(250, 225, 225, 0.89), 0 6px 20px 0 rgba(241, 189, 189, 0.89);
}


.paintings_section h3 {
    color: white; 
    font-size: 2.3em; 
    margin-left: 10%; 
    max-width: 60%;  
    font-family: 'Karla', sans-serif; 
    font-weight: 100;
    margin-bottom: 0px; 
    padding-top: 30px; 
}

.paintings_section p {
    color: white; 
    font-size: 1em; 
    margin-left: 40%; 
    max-width: 50%;  
    font-family: 'Karla', sans-serif; 
    font-weight: 100;
    text-align: right; 
    padding-bottom: 30px; 
}

/* suggestion section */

.tan {
    background-color: #E8D8C1;
    padding: 50px 0px 50px 0px; 
}

.beige {
    background-color: #A88C80;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.521), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
    display: grid;
    grid-template-columns: 22% 1fr 1fr 20%;
    padding: 30px 0px 30px 0px; 
    place-items: left; 
}

.beige img {
    margin-top: 10%;
    margin-bottom: 10%; 
    width: 80%;
    grid-column: 3/4;
    margin-left: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.363), 0 6px 20px 0 rgba(0, 0, 0, 0.281);
}

.suggestion_text {
    grid-column: 2/3; 
    text-align: left; 
    padding-right: 30px; 
    padding-top: 40px; 
}

.suggestion_text h3 {
   font-size: 2.2em; 
   margin-bottom: 20px; 
}


/* tablet */ 





/* mobile */

@media screen and (max-width: 560px) {
    
    .mobile_nav {
        display: block; 
    }
    .desktop_nav {
        display: none; 
    }

}