header {

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color:lightyellow; 
    padding:100px;
}

img {

    width: 20%;
    float: right; 
    margin-bottom: 50px;
    margin-top: -50px;
    
}

.prestonboxes {

    background-color: gainsboro;
    margin: 10px;
    padding: 10px;

}

h2 {

text-align: center; 
font-size: 2em; 

}

footer {

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center; 

}
body {

    width: 100%;
}

ul {
    width: 100%;
}

.nav {

    width: 100%;
    margin:auto;
}

.nav li {
    margin:auto; 
    list-style: none;
    display: inline;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    padding-right: 20px; 
    color: white;
    background-color: orange; 
}

.nav li a {

    text-decoration: none;
    color: white; 
}
.preston {

    display: inline;
    margin: auto;
    padding: 10px; 
    width: 300px; 
}