
/* All pages styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {

    margin:0;
    padding: 0; 
    max-width: 100%; 

}

h1 {
    font-family: Open Sans, sans-serif;
}

/* Navigation */

.nav {
   
    position:-webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 5;
    max-width: 100%;
    margin: auto; 
    margin-top: -5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 30px; 
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

li {

    display: inline;
    position: relative;
    z-index: 5; 

}

li a {

    text-decoration: none; 
    color: #d4947f; 
    font-family: Open Sans, sanf-serif; 
    font-size: 1.2em; 
    padding-left: 15px;
    padding-right: 15px; 
    position: relative;
    z-index: 5; 

}

.aboutme {
    color: #d4947f; 
    text-decoration: none; 
}

.graphicdesign {
    color: #2f9abb; 
}

.websitedesign {
    color: #e081d8; 
}

.contact {
    color: #37a05a; 
}

li a:hover {

    color: black; 
    position: relative;
    z-index: 5; 
}

/* Footer */

footer {
 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -10px; 
    position: relative;
    z-index: 3; 
}

footer p {

    font-size: 1em; 
    text-align: center;
}


.insta {

    color: #bd4fb4;;
    text-decoration: none;
}

.insta2 {

    color: #b14ba8;;
    text-decoration: none;
}


.insta2:hover {

    color: black;
}

.linkedin {

    color: #2f9abb;
    
}

.linkedin:hover {
    color: black; 
}

.mail {

    color: #4227a3;

}






/*  Homepage Styles  (HP) */

/* HP Header */

.namebox {
    position: relative;
    background-color: white;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    z-index: 3;
}

.name {
    position: relative;
    display: block; 
    max-width: 100%;
    width: 80%;
    margin-top: -10px;
    z-index: 3;
    margin: auto; 
    align-content: center;

}

/* HP Section 1 (Intro & Shapes) */

.sec1 {
    max-width:100%;
    width: 100%;
    margin-top: 0px; 
}

.redbox {

    margin-bottom: -450px;
    height: 400px; 
    position: relative;
    z-index: 1;

}

.redstripe {

    position: sticky;
    top: 0; 
    z-index: 1;
    max-width: 100%;
    margin-top: -200px;
}

.me {

    display: block;
    float: right;
    position: relative;
    margin-bottom: -760px; 
    max-width: 75%;
    z-index: 4;
    margin-right: 15px; 

}

.stayhere{
    height: 400px;

}

.green {

    position: sticky;
    top: 6em;
    z-index: 0;
    margin:auto;
    max-width: 100%; 
    margin-bottom: -620px;

}

/* HP Section 2 (Graphic Design) */

/* HP Section 2 Intro Blue Box  */

.section2 {
    max-width: 100%;
    width: 100%;
    height: 300px;
    /*background-color: #89c6d8;*/
    background-color: rgba(255, 255, 255, 0.123);  
    margin-top: 390px;
    position: relative;
    z-index:2;
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.section2header {
    color:rgb(69, 135, 189); 
    font-size: 2em;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 60px;
    font-family: Open Sans, sanf-serif; 
}

.section2text {
    color:rgb(13, 30, 65); 
    font-size: 120%;
    padding: 30px;
    width: 30%;
    padding-top: 0px;
    padding-left: 40px;
    margin-top: -10px;
}

.arrow {
    display: block; 
    float: right;
    width: 6%;
    margin-top: -190px; 
    padding-right: 100px; 
}

/* HP Section 2 Image Gallery */

.imagegallery {

    width: 99%;
    margin: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px; 
    width: 100%; 
    margin-bottom: 0px; 
}

.gallery1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.gallery2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}

.gallery3 {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}

.gallery4 {
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
}

.gallery5 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3; 
}

.gallery6 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.gallery7 {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.gallery8 {
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;

}

.gallery9 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
}

.gallery10 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}

.gallery11 {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.gallery12 {
    display: grid;
    grid-column: 4/5;
    grid-row: 3/4;
}

.gal {
   width: 100%;
   max-width: 24.7%; 
}

.caption {

    margin-top: 2px;
    color: rgb(13, 30, 65); 
    font-family: Open Sans, sans-serif;
    font-size: 1.1em; 

}

/* HP Section 3 (Photography) */


/* HP Section 3 Intro Text */

#section3 {

    margin-top: -25px; 
    background-image: url(/portfolio/background\ white.png);
    background-size: cover; 
    max-width: 100%;
    width: 100%;
    height: 260px; 
    position: relative;
    z-index:2;
    align-content: center; 
    justify-content: center;
    justify-items:center;
    padding-top: 13px; 

}

#inside_section3 {
    background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    height: 200px;
    margin-bottom: 10px; 
    
}

.photosection {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photography {

    color: black; 
    text-decoration: none; 
    font-family: Open Sans, sanf-serif; 
}

#photoheader {
    color:black; 
    font-size: 2em;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 60px;
    margin-bottom: -20px;
    font-family: Open Sans, sanf-serif; 
}

.photoinfo {
    margin-left: 30px; 
    padding: 10px;
    margin-bottom: 20px; 
    font-size: 1.3em; 
}

.phototitle {

    padding: 30px; 
}

.seemore {
    color:rgb(13, 30, 65);
    text-decoration: none;
    font-size: 1.2em; 
    margin-top: -20px; 
    margin-left: 20px; 
}

.seemore:hover {
    color: rgb(212, 124, 205);
}

/* HP Section 3 Photo Captions */

.captions {

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2), 0 6px 20px 0 rgba(17, 17, 17, 0.19);
    color: black;
    font-size: 1em;
    margin-bottom: 20px; 
    margin-top: -5px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    position: relative;
    z-index: 3; 
    
}

.portraits {
    font-family: Open Sans, sanf-serif; 
    font-size: 1.2em;
}

.caption1 {
    grid-column: 1/2; 

}
.caption2 {
    grid-column: 2/3; 
    
}
.caption3 {
    grid-column: 3/4; 
    
}
.caption4 {
    grid-column: 4/5; 
    
}

/* HP Final Section (Programming Languages) */

.finalsection {

    background-image: url(/portfolio/background.png);
    background-size: cover; 
    height: 650px; 
    text-align: center;
    justify-content: center;
    align-content: center;

}

.finalsection p {

    padding-top: 120px;
    font-size: 1.7em;  
    margin-top: -20px;  
    padding-left: 20px; 
    font-family: Open Sans, sanf-serif;

}

.programs {
    display: block;
    width: 43%;
    margin: auto; 
    margin-top: -40px; 
}







/* Graphic Design Page (GD) */

/* GD header image*/

.mainimage {

    width: 100%;
    padding: 0px;
    margin:auto; 
    display: block; 
    margin-bottom: -550px; 
    
}

/* GD modal images */ 


/* MODAL WORK */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /*max-height: 100%; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 10px 40px;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    z-index: 100;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.showcase_section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr 100px 1fr 100px 1fr 100px 1fr;
    column-gap: 14.5%;
    width: 80%;
    max-width: 80%;
    margin: auto;
    row-gap: 10px; 

}

.showcase {
    width: 100%;
    margin: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px; 
}

.showcase_title {

    display: grid; 
    width: 100%;
    margin:auto; 
    text-align: center; 
    text-decoration: outline;
    color:rgba(0, 0, 0, 0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.9em; 
}

#st1{
    grid-column: 1/4; 
    grid-row: 1/2;
    /*background-color: #c05d86c5;*/
}

.showcase1 {

    grid-column: 1/2; 
    grid-row: 2/3;
}

.showcase2 {

    grid-column: 2/3; 
    grid-row: 2/3;
}

.showcase3 {

    grid-column: 3/4; 
    grid-row: 2/3;
}

#st2{

    grid-column: 1/4; 
    grid-row: 3/4;
    
}

.showcase4 {

    grid-column: 1/2; 
    grid-row: 4/5;
}
.showcase5 {

    grid-column: 2/3; 
    grid-row: 4/5;
}

.showcase6 {

    grid-column: 3/4; 
    grid-row: 4/5;
}

#st3{
    grid-column: 1/4; 
    grid-row: 5/6;
    
}

.showcase7 {

    grid-column: 1/2; 
    grid-row: 6/7;
}
.showcase8 {

    grid-column: 2/3; 
    grid-row: 6/7;
}

.showcase9 {

    grid-column: 3/4; 
    grid-row: 6/7;
}

#st4{

    grid-column: 1/4; 
    grid-row: 7/8;
    
}

.showcase10 {

    grid-column: 1/2; 
    grid-row: 8/9;
}
.showcase11 {

    grid-column: 2/3; 
    grid-row: 8/9;
}

.showcase12 {

    grid-column: 3/4; 
    grid-row: 8/9;
}









/* Contact Page (CP) */

.contactdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    width: 100%;
    margin-bottom: 10px; 

}

/* CP Main Image */

.mesitting {
 
    display: inline; 
    max-width: 60%;
    grid-column: 1/3;
    padding: 60px; 
    padding-right: 10px;
    padding-left: 200px; 
  
}

/* CP Contact Info */

.contactlinks {
    grid-column: 3/6;
    padding: 50px;
    padding-left: 40px; 
    text-align: left;

}

.contactlinks p {

    font-size: 1.3em; 
}

.contactinfo {

    font-family: Open Sans, sanf-serif;
    font-size: 2em;
    color: #e081d8;
}

.email {

    font-size: 1.5em;
    font-family: Open Sans, sanf-serif;

}


