body {
    width: 100%;
    align-content: center;
}

header {

    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 70px;
    padding-bottom: 10px;
}

h1 {
    z-index: 2;
}

.prestonboxes {

    background-color: rgb(243, 243, 243);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 40px;

}

.first {
    position: relative;
    z-index: 2;
    display: inline;
    font-size: 4em;
    color: rgba(3, 3, 3, 0.616);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second {
    position: relative;
    z-index: 2;
    display: inline;
    font-size: 4em;
    color: rgba(3, 3, 3, 0.616);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clouds {

    width: 100%;
    display: inline;
    position: relative;
    z-index: 1;
    margin-top: -360px;
    margin-bottom: -13px;

}

h2 {

    padding-top: 40px; 
    padding-bottom: 20px;
    width: 80%;
    margin:auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.nav {

    max-width: 100%;
    margin-top: -100px;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav li {
    margin-top: -50px;
    margin: auto;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: white;
    background-color: rgb(255, 255, 255);
}

.nav li a {
    margin: auto;
    text-decoration: none;
    color: rgb(49, 49, 49);
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 62, 62, 0.404)
}

.please {

    display: block;
    margin: 10px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.green {

    display: block;
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form {

    margin: auto;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#textInput {

    width: 20px;
    border: none;

}


.prestondiv {

    width: 50%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto, auto;
    background-color: lightpink;
}


.fishavendiv {

    width: 50%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto, auto;
    background-color: lightskyblue;
}

.sodadiv {

    width: 50%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto, auto;
    background-color: rgb(117, 51, 25);
}

.divpic {

    display: grid;
    width: 200px;
    grid-column: 2/3;
    margin: none;

}

h3 {
    display: grid;
    grid-column: 1/2;

}

.subtext {

    display: grid;
    grid-column: 1/2;

}

@media only screen and (max-width: 600px) {

    body {}

    .prestondiv {
        width: 70%;
        margin: auto;
        background-color: lightpink;
        display: grid;
        grid-template-rows: auto, auto;
        align-items: center;
        justify-items: center;
    }

    .sodadiv {
        width: 70%;
        margin: auto;
        background-color: lightpink;
        display: grid;
        grid-template-rows: auto, auto;
        align-items: center;
        justify-items: center;
    }

    .fishavendiv {
        width: 70%;
        margin: auto;
        background-color: lightpink;
        display: grid;
        grid-template-rows: auto, auto;
        align-items: center;
        justify-items: center;
    }

    h3 {
        display: grid;
        grid-row: 1/2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .subtext {
        display: grid;
        grid-row: 1/2;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .divpic {
        display: grid;
        grid-row: 2/3;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

body {
    font-family: helvetica;
    margin: auto;
}

.pancake {

    width: 280px;
    display: block;
    margin-bottom: 60px;
    z-index: 1;
    margin-left: 50px; 

}

.banner {

    width: 80%;
    margin: auto;
    margin-top: 25px;

}

.info {

    position: realtive; 
    padding-left: 340px;
    padding-right: 20px;
    max-width: 70%;
    background-color: #fdf490d8;
    margin: auto;
    margin-top: -260px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.saturday {

    color: #7c430e;


}

.text {
    margin-top: -30px;
    font-size: 1em;
}